snippet lz "Lazy.nvim basic package"
	{'$0'}

snippet lzc "Insert LazyVim with config"
	{
		'$1',
		config = function()
			require('$2').setup($3)
		end
	}

snippet lzcd "Insert LazyVim with config"
	{
		'$1',
		config = function()
			require('$2').setup($3)
		end,
		dependencies = {
			'$4'
		}
	}

